html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* .header {
  background-color: #333;
} */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: Azure;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
}

/*.jumbotron {
  background: url(http://avg.business/images/free-vector-seattle-city-skyline.jpg) no-repeat 50% 25%;
  background-size: cover;
  height: 500px;
} */

#backimage {
  margin:auto;
  height:500px;
  width:50%;
}

#backimage img {
  position:absolute;
   height:500px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

 @keyframes biFadeInOut {
    0% {
      opacity:1;
    }
    45% {
      opacity:1;
    }
    55% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }

#backimage img.top {
animation-name: biFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}

.main {
  position: absolute;
  top: 450px;
  width:50%;
  margin:auto;
}

.main h1 {
  color: Crimson;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
   text-align: center;
}

.btn-default {
  border: 1px solid #333;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 10px;      
}

.supporting {
  padding-top: 30px;
  padding-bottom: 30px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 20px;
}

  a:link {
    color: Black;
    text-decoration: none;
  }  
  a:visited {
    color: Crimson;
    text-decoration: none;
  }
  a:hover {
    color: hotpink;
    text-decoration: none;
  }
  a:active {
    color: Orange;
    text-decoration: none;
  }

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
  font-size: 18px;
}

.search {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}
